/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  margin: 0;
  height: 100%;
}

h2 {
  align:right;
}

h3 {
  align:"center";
}

h4 {
  align:"left";
}

p3 {
  border: 2px solid powderblue;
  padding: 30px;
  border-radius: 50%;
}


.round-aside-img {
  position: relative;
  right: 10px;
  border-radius: 50%;
  align:"right";
  padding-left:15px;
  margin-left:15px;
  float:right;
}

.center-text {
  text-align:center;
}

.right-text {
  position: relative;
  text-align: right;
  top: 200px;
  left: 190px;
}

.small-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.c-site-header {
  text-align: center;
  color: rgb(38, 13, 180);
  font-size: xx-large;
}


.c-site-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.aside {
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}

.fullCard {
  width: 1245px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* margin: 10px 5px; */
  margin:auto;
  padding: 4px;
  align-self: center;
}
#cardContent {
  padding: 10px;
  background-color: blueviolet;
}